@import './Colors.scss';
@import './Fonts.scss'; 

.information-box{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    background-color:$white; 
    margin: 5%; 
    
    img {
        height: 50px;
        width: auto; 
    }

    .text{
        font-family: CamptonLight; 
        color:black; 
    }
}