@import './Colors.scss'; 
@import './Fonts.scss'; 

#Navbar{
    display: flex; 
    flex-direction: row; 
    background-color: $white;
    justify-content: center; 
    font-family: CamptonBold; 

    #title{
        background: -webkit-linear-gradient(45deg, $pink, $blue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-top: 3%; 
        padding-bottom: 3%; 
    }
}